/*start of stylesheet*/

/*start of page header */
#img_logo {
  float: left;
  margin-left: -550px;
}

#pageHeader {
  grid-area: header;
  height: 350px;
  background-color: #444;
  background-color: #e5e3e3;
  color: #444;
}

/*responsive section for mobile*/
@media only screen (max-width:100%) {
  #pageHeader, #pageHeader1 {
    height: 100%;
    width: 2000px;
  }
}

/*responsive section for tablet*/
@media only  screen (max-width:100%){
  body {
    height: 100%;
    width: 100%;
  }
}

#PageHeader1 {
  text-align: center;
  margin-top: 30mm;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  padding-left: 555px;
  height: 57px;
  font-family: 'Lato', sans-serif;
  position: fixed;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #444;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 11px;
}

li a:hover {
  color: indianred;
}

/*end of page header*/

/*body scetion*/
body {
  display: grid;
  grid-template-areas:
    "header header header"
    "article article article"
    "article article article"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
/*start of mainArticle*/
#mainArticle {
  grid-area: article;
  height: 300px;
  margin-top: 0px;
  color: #444;
  }

  /*heading 3 styling*/
  h3 {
    color: #ed524d;
    font-size: 17px;
    margin-top: -10px;
  }

  /*grid section layout*/
  #grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 2vw;
   margin-top: 80mm;
 }
 #grid > div{
   background: white;
 }

 /*end of layout*/

 /*box class section*/

 /*box a*/
  .box-a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 600px;
    height: 300px;
    margin-left: 180px;
  }

  /*box b*/
  .box-b {
    width: 520px;
    margin-left: 0px;
    height: 300px;
  }

  /*box c*/
  .box-c {
    width: 800px;
    height: 400px;
    margin-top: -55px;
    margin-left: 10px;
  }

  /*box d*/
  .box-d {
    width: 520px;
    margin-top: -55px;
    margin-left: 0px;
  }

  /*coloumn section*/

  /*c1*/
  #column1 {
    float: left;
    width: 200px;
    height: 150px;
    background-color: white;
  }

  /*c2*/
  #column2 {
    float: left;
    width: 200px;
    height: 150px;
    background-color: white;
    margin-left: 50px;
  }

  /*c4*/
  #column4 {
    float:right;
    width: 200px;
    height: 150px;
    background-color: white;
    margin-right: 70px;
    margin-top: 40px;

  }

  /*c5*/
  #column5 {
    float:right;
    width: 200px;
    height: 150px;
    background-color: white;
    margin-top: 40px;
    margin-right: 50px;

  }

  /*end of column section*/
/*different color boxes*/
  #bluebox{
    width: 220px;
    height: 300px;
    background-color:#333;
    float: left;
    margin-left: 275px;
    margin-bottom: 22px;
  }

  #yellowbox {
    width: 220px;
    height: 300px;
    background-color: #333;
    margin-left: 755px;
    margin-bottom: 42px;
  }

  #greenbox {
    width: 220px;
    height: 300px;
    background-color: #333;
    float: left;
    margin-top: -5px;
    margin-left: 275px;
  }

  #redbox {
    width: 220px;
    height: 300px;
    background-color: #333;
    float: left;
    margin-top: -5px;
    margin-left: 280px;
  }
  /*end of boxes*/

/*team itself*/
  .team {
    margin-left: 240px;
    width: 220px;
    margin-top: -85mm;
  }

  .images {
    float: left;
    display: inline;
    margin-left: 10px;
  }

  /*end of team*/

  /*end of mainArticle*/

/*sub article styling*/
  #sub_article {
    margin-top: 20mm;
  }

  /*pagearticle3 styling*/
  #pagearticle3 {
    grid-area: article;
    height: 280px;
    background-color: black;
    margin-top: 400px;
    padding-left: 200px;
  }

  /*counter*/
  .counter {
    display: table-cell;
    margin:1.5%;
    font-size:50px;
    background-color: black;
    width:200px;
    border-radius: 50%;
    padding-left: 10mm;
    height:200px;
    vertical-align: middle;
    color: white;

  }
/*subscribe section*/
  #subscribe {
    height: 200px;
    background-color: white;
    text-align: center;
  }

  #text1 {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
  }

  #reset {
    width: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    background-color: #ed524d;
    color: white;
  }

  /*end of subscribe section*/

  /*input section*/
  #input[type=text], select {
    width: 400px;
    height: 45px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-right: 50mm;
  }

  #input[type=submit] {
  width: 100px;
  background-color:#ed524d;
  color: white;
  padding: 14px 8px;
  margin: 8px 0;
  border: 2px solid #ed524d;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  float: left;
  margin-left: 210mm;
  margin-top: -12mm;
  height: 45px;
}
/*end of input section*/

/*end of pagearticle3 styling*/

/*logos*/
.LOGO_icons {
  margin-top: 70px;
  height: 270px;
  background-color: black;
}

.image_logo {
  margin-left: 40mm;
}
/*end of logos*/

  /*footer section*/

  /*flex container*/
.flex-container {
  display: flex;
  background-color: none;
  margin-top: 0mm;
}

.flex-container>div {
  background-color: none;
  width: 350px;
  height: 190px;
  margin: 10px;
  text-align: center;
  font-size: 12px;
}

/*end of flex container*/

/*lists*/
h2{
  font-size: 25px;
  border-bottom: 2px solid white;
}
/*span styling*/
span.heading {
  border-bottom: 2px solid #ed524d;
}

/*paragraph styling*/
.paratext {
  color: black;
}

/*anchor tag styling*/
a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 11px;
}

a:hover {
  color: #ed524d;
}
/*end of anchor styling*/

.icon {
  float: left;
  margin-left: 25mm;
}

/*end of lists*/

/*paragraph section*/
#p2 {
  width: 200px;
  margin-left: 10mm;
}

#p3 {
  margin-right: 26mm;
}

#p4 {
  margin-right: 30mm;
}
/*end of paragraph section*/

/*flex box*/
.flex-box {
  display: flex;
  background-color: #ed524d;
  margin-top: 0mm;
}

.flex-box>div {
  background-color: none;
  width: 700px;
  height: 40px;
  text-align: center;
  font-size: 13px;
  color: white;
  margin-top: 12px;
}
/*end of flex box*/

/*extras*/
#die {
  margin-left: -10mm;
  margin-top: 12px;
}

.pictures {
  margin-top: 13px;
  margin-left:-100px;
}

#f {
  margin-left: 165mm;
  margin-top: 25px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 13px;
}

/*end of extras*/
/*end of stylesheet*/
